body {
  background-image: url("https://i.postimg.cc/gJDr8NYK/1I6A2559.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}

#nav-list li a {
  font-family: Comic Sans MS, "Roboto Mono", "Courier New", Courier, monospace;
  text-decoration: none;
  color: black;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

#left {
  background-color: #ffb6c1;
  border-style: solid;
  border-color: #ccffcc;
}

#right {
  background-color: #ccffcc;
  border-style: solid;
  border-color: #ffb6c1;
}

@media (min-width: 400px) {
  #nav-list li a {
    font-size: 15px;
  }
}

@media (min-width: 600px) {
  #nav-list li a {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  #nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #nav-list li a {
    font-size: 30px;
  }
}
